<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ site.favicon | default: '/assets/favicon.png' | relative_url }}">

    {% include head.html %}
    {% include analytics.html %}
  </head>

  <body>
    <main class="container">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>

      <div class="content">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>